requests>=2.31.0
pandas>=2.1.4
python-dotenv>=1.0.0 
langgraph>=0.4.8
langchain>=0.2.0
langchain-google-genai>=0.2.0
faiss-cpu>=1.7.4
langchain-huggingface>=0.2.0
gradio>=5.38.0
spacy>=3.7.0
numpy>=1.26.0
markdown>=3.5.0